#parse("header.vm")
#set($nav="about")
#parse("navbar.vm")

<div class="hero-unit">
  <h1>About the registry</h1>
</div>

<p>
  This is the investigational linked data registry for the activities of the WMO Task Team on Atmospheric Composition Vocabulary Registry
</p>
<p>
  This registry is supporting the early stage work of the task team.  All URIs should be treated as temporary and prone to change.
</p>

#parse("footer.vm")
