<div class="hero-unit">
  <h1>WMO Task Team on Atmospheric Composition Vocabulary Registry</h1>
</div>

<p>
  This is the linked data registry for the activities of the WMO Task Team on Atmospheric Composition Vocabulary Registry
</p>
<p>
  This registry is supporting the early stage work of the task team.  All URIs should be treated as temporary and prone to change.
</p>


<hr />

#set($register=$node)
#set($itemForReg=$model.getNode($node.uRI.replaceAll("/([^/]+)$", "/_$1")))
#parse("register.vm")
